* {
    user-select: none;
}

.mapContainer {
    height: 300px;
    width: 30rem;
    cursor: default;
    border-radius: 10px;
}

.mainContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.countryPolygon {
    transform: translate(0, -5px);
}